body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* FORM STYLING */
.login-form,
#edit-user-form,
#settings-form, 
.signup-form {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 60%;
  background-color: #232325;
}
.signup-form{
  height: 90%;
}
.google-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-form {
  height: 70%;
}

#edit-user-form {
	height: 60%;
}

#login,
#editForm,
#settingsForm,
/* #form is for the userAddForm */
#form  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  border-radius: 0.3rem;
  gap: 20px;
}

#settingsForm {
  gap: 0px !important;
}

input,
button {
  width: 100%;
  border-radius: 0.4rem;
  padding: 0.5rem 0.8rem;
  margin-top: 0.5rem; /* space for label */
  background-color: transparent;
  color: white;
  border: 0.1px solid white;
  outline: none; /* removes red border */
}

input:focus {
  border: 3px solid #580ef6;
}

button {
  border: none;
}

button:hover {
  background: rgba(76, 76, 76, 0.445);
}

#loginSubmit,
#editSubmit,
#signupSubmit {
  background: rgba(76, 76, 76, 0.445);
  border: 1px solid transparent;
}

#editSubmit:hover {
	background: #580ef6;
	cursor: pointer;
}

/* class for filled inputs */
.enable {
  background-color: #580ef6 !important;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.sign-assist {
  color: #580ef6;
  font-size: 0.8rem;
  margin-top: -10px;
}

.login-title {
  font-size: 1.7rem;
  padding-bottom: 1.8rem;
  text-align: center;
}

/* EDIT USER FORM */
/* #editForm {
  width: 35%;
  height: 60%;
} */

/* ----EDIT A USER FORM ---- */
/* #edit-user-form {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--form-bg-color);
	border: var(--form-border);
	border-radius: var(--form-border-radius);
	width: var(--form-width);
	margin-top: 20px;
}
#edit-user-title {
	color: var(--form-text-color);
	font-size: 20px;
	padding: var(--form-title-padding);
	text-align: center;
}

#editForm label {
	color: var(--form-text-color);
	margin-bottom: var(--label-margin-bottom);
}

input {
	margin-bottom: 15px;
}

input[type="submit"] {
	display: flex;
	justify-content: center;
	align-items: center;
}

#editSubmit {
	background-color: var(--submit-btn-bg-color);
	color: var(--form-text-color);
	cursor: var(--cursor);
	border: var(--submit-btn-border);
	border-radius: var(--submit-btn-border-radius);
	line-height: var(--submit-btn-line-height);
	padding: var(--submit-btn-padding);
} */
