@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');

#usernameNotValid, #usernameMissing, 
#emailNotValid, #emailMissing,
#passwordNotValid, #passwordMissing, 
#passwordConfirmError, #firstNameNotValid, 
#firstNameMissing, #lastNameNotValid, 
#lastNameMissing{
	display: none;
	color: red;
	font-size: 10px;
}
.red {
	box-shadow: 0 0 5px 1px rgb(255, 24, 24);
}
.green {
	box-shadow: 0 0 5px 1px rgba(44, 248, 3);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
	--search-bar-radius: 1.5rem;
	--search-bar-shadow: rgba(223, 217, 217, 1);
	--light-grey: rgba(0, 0, 0, 0.5);
	--light-purple-btn: #948DCE;
	--dark-purple-btn: #580EF6;
}

/* -------- HEADER LOGGED IN --------*/

.logged-in {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	font-family: 'Molengo', sans-serif;
	font-weight: 600;
	background: #25272D;
}

/* .logged-in a:hover {
    background-color: lightgray;
    
} */

.left-side > a {
	text-decoration: none;
	color: white;
}

.company-logo {
	width: 15%;
}

.search-bar-div {
	position: relative;
}

input[type="search"] {
	padding: 0 1em;
	width: 20em;
	height: 2rem;
	border: 1px solid var(--search-bar-shadow);
	border-radius: var(--search-bar-radius);
	/* box-shadow: 0 0.4rem var(--search-bar-shadow); */
	outline: none;
	border: 1px solid gray;
}

.search-bar-div > i {
	position: absolute;
	left: 0.5rem;
	top: 0.8rem;
	color: var(--light-grey);
}

.right-side {
	display: flex;
	align-items: center;
	gap: 1em;
	/* min-width: 600px */
}

.right-side a {
	text-decoration: none;
	padding-right: 1rem;
	color: white;
	padding: .5em 1.6em;
	border-radius: 1em;
}

.right-side a:first-of-type {
	background-color: var(--light-purple-btn);
}

.right-side a:nth-of-type(2) {
	background-color: var(--dark-purple-btn);
}

.right-side i {
	color: var(--light-grey);
}

/*-------- PROJECT CARD --------*/

.main-container {
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    margin-top: 2rem;
    gap: 1.5rem;
}
.project-gif {
    width: 100%;
}

.card {
    width: 20%;
    height: 20%;
    border: 1px solid var(--search-bar-shadow);
    border-radius: var(--search-bar-radius);
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}

.user-profile-pic {
    width: 10%;
    border-radius: 50%;
    border: 1px solid var(--light-grey);
}

.bottom-card-container {
    margin-top: 10px;
}



.index-container {
	background-color: black;
	height: 100vh;
}


/* CAROUSEL - TOP CONTAINER CSS */
.carousel-container {
	/* display: flex; */
	/* flex-direction: column; */
	background-color: white;
	height: 50%;
	padding: 3.7rem 3.9rem;
}

.carousel-container > p {
	padding-bottom: .9rem;
}
.cusername {
font-size: 1.1rem;
}

.ctitle {
	font-size: 3.1rem;
}

.cdescription {
	font-size: 0.9rem;
}

.carousel-more {
	background-color: #74EBD5;
    outline: 0;
    border: none;
    width: 9%;
    padding: .7rem .1rem;
    cursor: pointer;
    border-radius: 0.7rem;
}


.project-container {
	background-color: white;
	height: 50%;
}

/* 

<!-- OVERALL CONTAINER -->
<div class="index-container">
  <!-- carousel container -->
  <div class="carousel-container">
    <div class="carousel-img"></div>
    <p class="cusername">username</p>
    <p class="ctitle">title</p>
    <p class="cdescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos officiis nam id. Modi id amet ullam rem labore quam perspiciatis nulla explicabo aut pariatur fugiat eum, tenetur illum quis!</p>
    <button class="carousel-more">view more</button>
  </div>

  <!-- <h1>Landing Page</h1> -->
  <div class="project-container">
    <?php
    if (isset($_SESSION['id'])) {
      include "./view/component/loggedInHeader.php";
    }
    echo "<h1>Landing Page</h1>";
    foreach ($projects as $project) {
      if ($project->is_active) {
        include "./view/component/projectCard.php";
      }
    }
    ?>
  </div>
 */