body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background: #43c6ac;
	background: -webkit-linear-gradient(to right, #191654, #43c6ac);
	background: linear-gradient(to right, #191654, #43c6ac);
	color: white;
}
