:root {
	--search-bar-radius: 1.5rem;
	--search-bar-shadow: rgba(223, 217, 217, 1);
	--light-grey: rgba(0, 0, 0, 0.5);
	/* --font: "Molengo", sans-serif; */
	--font: sans-serif;
	--purple: #8d5bf8;
	--darkgray: #141518;
	--h1fontsize: 2rem;
	--aside-padding: 1rem 0 1rem 0;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font);
}

body {
	background-color: black;
}

/* -----User Profile------ */
/* TODO:need to style the project button */
.main-user-container {
	outline: black solid 1px;
	width: 100%;
}

.user-profile-title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 1rem;
}

/* TODO: hacky way to center the profile user */
.empty {
	width: 10%;
}
.user-profile-title h1 {
	/* margin: auto; */
	font-size: var(--h1fontsize);
	color: white;
}

.edit-profile-link {
	padding-right: 1rem;
	padding-top: 0.5rem;
}

/* TODO: change padding? to root padding for buttons
 TODO: remove underline for spans*/
/* TODO: EDIT PROFILE BUTTON: CHANGE COLOR TO MATCH */
.edit-profile-link span {
	border-radius: var(--search-bar-radius);
	padding: 1rem 2rem;
	text-decoration: none;
	color: var(--light-grey);
	background-color: var(--purple);
	font-size: 1rem;
}

/* TODO: fix view height */
.user-profile-info {
	display: flex;
	justify-content: space-between;
	height: 100vh;
}

/* profile aside: profile pic, bio, languages, socials */
/* TODO: decide if we want this to stick while we scroll 
or how to display it when we have multiplr projects */
.user-profile-aside {
	outline: 1px solid var(--purple);
	border-radius: var(--search-bar-radius);
	display: flex;
	flex-direction: column;
	padding: 1rem 1.5rem;
	margin-top: 3rem;
	margin-right: 2rem;
	height: 50%;
	color: white;
	background-color: black;
	line-height: 1;
}

#user-pic-p-view,
#profile-bio,
.user-profile-languages p,
#github,
#linkedin {
	padding: var(--aside-padding);
}

#user-pic-p-view {
	width: 10%;
	border-radius: 50%;
	border: 1px solid var(--light-grey);
}

.language-spans {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.user-language-tag {
	/* TODO: change this color to the root gray */
	background-color: lightslategray;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-top: 0.5;
	padding-bottom: 0.5;
	border-radius: var(--search-bar-radius);
}
.user-profile-projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3rem;
	width: 60%;
	padding-top: 3rem;
}

.user-profile-socials {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.user-profile-socials a {
	padding-top: 1rem;
}
